<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- <button type="button" class="m-0 btn btn-primary btn-sm" data-toggle="modal" data-target="#tambahTransaksi">Tambah
        Transaksi</button> -->
      <form action="/transaksi/addTransaksi" method="POST" id="formPJ">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label>No. Transaksi</label>
              <input type="text" class="form-control" name="no_trx" value="<%= Date.now()%>">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Pelanggan</label>
              <input type="text" class="form-control" name="id_pelanggan" placeholder="0">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Potongan</label>
              <input type="date" name="tanggal" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="d-flex">
              <button type="button" style="margin-top:35px" onclick="tambahForm()"
                class="btn btn-primary btn-sm mr-2 btn-block">(+)</button>
              <button type="button" style="margin-top:35px" onclick="hapusForm()"
                class="btn btn-danger btn-sm btn-block">(-)</button>
            </div>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-12" id="hasil">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="id_paket[]" placeholder="Tulis ID Barang disini..."
                    autofocus>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="nama_paket[]" placeholder="Tulis ID Barang disini..."
                    autofocus>
                </div>
              </div>
            </div>

          </div>
          <!-- Content ID Barang -->
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>No Transaksi</th>
              <th>Tanggal</th>
              <th>Pelanggan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<div class="modal fade" id="tambahPaket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Paket Baru</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/transaksi/addTransaksi">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">No Transaksi:</label>
            <input type="text" class="form-control" name="no_trx" placeholder="Tulis nama paket disini...">
          </div>
          <div class="form-group">
            <label class="col-form-label">Nama Paket:</label>
            <input type="text" class="form-control" name="nama_paket" placeholder="Tulis nama paket disini...">
          </div>
          <div class="form-group">
            <label class="col-form-label">Harga:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Rp</span>
              </div>
              <input type="number" class="form-control" name="harga" placeholder="Tulis harga paket disini...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Vendor:</label>
            <input type="text" class="form-control" name="vendor" placeholder="Tulis nama vendor disini...">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function tambahForm() {
    const element = `
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
						<input type="number" class="form-control" name="id_paket[]" placeholder="Tulis ID Barang disini..." autofocus>
					</div>
				</div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" name="nama_paket[]" placeholder="Tulis ID Barang disini..."autofocus>
          </div>
        </div>
		</div>
		`;
    const form = document.createElement("div");
    form.innerHTML = element;
    document.getElementById('hasil').appendChild(form);
  }

  function hapusForm() {
    const list = document.getElementById('hasil');
    list.removeChild(list.lastElementChild);
  }
  document.addEventListener('keyup', (event) => {
    if (event.code === 'F1') {
      tambahForm();
    } else if (event.code === 'F2') {
      hapusForm();
    } else if (event.code === 'Enter') {
      document.getElementById("formPJ").submit();
    }
  }, false);
	// document.addEventListener('keyup', (event) => {
	// 	var name = event.key;
	// 	var code = event.code;
	// 	// Alert the key name and key code on keydown
	// 	alert(`Key pressed ${name} \r\n Key code value: ${code}`);
	// }, false);
</script>